<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Olivier Pouchoy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Custom fonts. To improve load times, remove this and update the h1 styling in style.css--> 
	<link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
	<!-- stylesheets -->
	<link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="{{asset('img/favicon.jpg')}}">
</head>





<body>
	
	<!-- Header-->
		<nav>
			<ul>
			  <li><a class="nav-item" href="#1">A Propos</a></li>
			  <li><a class="nav-item" href="#2">Formations</a></li>
			  <li><a class="nav-item" href="#3">Compétences</a></li>
			  <li><a class="nav-item" href="#4">Contact</a></li>
			  <li><a class="nav-item" href="/my_cv/public/login" >Se Connecter</a></li>
			</ul>
		</nav>
	
	
	<header>
		<div class="h-background">
			<div class="middle">
				<h1>Olivier Pouchoy</h1>
				<p>Etudiant en Multimédia et Internet</p>
			</div>
			

		</div>

	</header>
	

		
		


  
      
		<!-- Introduction-->
<article id="sec">
		<section  class="center">
				<div class="container" id="1" >
		
					<p class="flotte">
					
					<div class="image">
							<img src="{{asset('img/Olivier_icone')}}" height = "400" width =" 400" >
			
					</div>
			<h1>Bienvenue sur mon CV !</h1>
					{% for apropo in apropos %}
        			<article>
						<p>{{ apropo.getDescription() }}</p>
						{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('apropos_new',{'id':apropo.getId()}) }}" target="_blank"><button type="button">Créer</buttons></a>
						<a href="{{ path('apropos_edit',{'id':apropo.getId()}) }}" target="_blank"><button type="button">Modifier</buttons></a>
						<a href="{{ path('apropos_delete',{'id':apropo.getId()}) }}" target="_blank"><button type="button">Supprimer</buttons></a>
					    <a href="{{ path('apropos_index',{'id':apropo.getId()}) }}" target="_blank"><button type="button">Index</buttons></a>
						{% endif %}

						
					</article>
    				{% endfor %}
			</p>
		</section>
		
		
	
		<span class ="hr"></span>
	
	
	<!-- New container-->
	<div class="container">
		
		
	
	   <section> 
			<div class="sectionTitle" id="2">
				<h1>Formations</h1>
			</div>
			<div class="sectionContent">
			<div class="col-md-10 col-sm-9 col-xs-12">
    			<ul>
    		{% for formation in formations %}
        			<article>
						<h2> <b> {{ formation.getName() }}</b> </h2>
						<p> {{ formation.getDuree() }} </p>
						<p>{{ formation.getLieu() }}</p>
						
			    {% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('formation_new',{'id':formation.getId()}) }}" target="_blank"><button type="button">Créer</buttons></a>
						<a href="{{ path('formation_edit',{'id':formation.getId()}) }}" target="_blank"><button type="button">Modifier</buttons></a>
						<a href="{{ path('form_formation_delete',{'id':formation.getId()}) }}" target="_blank"><button type="button">Supprimer</buttons></a>
				{% endif %}
					
					</article>
    		{% endfor %}
    			</ul>
			</div>	
			</div>
			<div class="clear"></div>
		</section>
		<hr>
			
		<!--Experience Tables-->
		 
			<div class="sectionTitle"  id="3">
				<h1>Compétences</h1>
			</div>
		
			
		<section class="experience">
			<div class="row">
				<div class="grid-2">
			    	 <h2> <b>Audiovisuel</b></h2>
				</div>
				<div class="grid-4">
							{% for competence in competences %}
						<article>
						<ul>
							<li> {{ competence.getAudiovisuel() }}</li>
						</article>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><b>Infographie</b></h2>
				</div>
				<div class="grid-4">
						{% for competence in competences %}
						<article>
						<ul>
							<li> {{ competence.getInfographie() }}</li>
						</ul>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><b>Communication</b></h2>
				</div>
				<div class="grid-4">
					{% for competence in competences %}
						<article>
						<ul>
							<li>{{ competence.getCommunication() }}</li>
							
							</br></br></br>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('competence_new',{'id':competence.getId()}) }}"target="_blank"><button type="button">Créer</a>
						<a href="{{ path('competence_edit',{'id':competence.getId()}) }}" target="_blank"><button type="button">Modifier</buttons></a>
						<a href="{{ path('form_competence_delete',{'id':competence.getId()}) }}" target="_blank"><button type="button">Supprimer</buttons></a>
					{% endif %}
						</ul>
						</article>
					{% endfor %}
				</div>
			</div>
		</section>
		
		<hr>
		
		<section>
			<!--List of skills-->
			<div class="row">
				<div class="grid-2"  id="4">
					<h1>Contact</h1>
					<ul>
						{% for contact in contacts %}
						<article>
						<ul>
							<li><b>Email</b>  {{ contact.getMail() }}</li>
							<li><b>Téléphone</b>  {{contact.getTelephone() }}</li>
							<li><b>Site Portfolio</b>  {{ contact.getSite() }}</li>
						  {% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('form_contact',{'id':contact.getId()}) }}"target="_blank"><button type="button">Créer</a>
								<a href="{{ path('contact_edit',{'id':contact.getId()}) }}" target="_blank"><button type="button">Modifier</buttons></a>
								<a href="{{ path('form_contact_delete',{'id':contact.getId()}) }}" target="_blank"><button type="button">Supprimer</buttons></a>
						 {% endif %}
						</ul>
						</article>
					{% endfor %}
				
		<!--Footer-->
		<footer class="center">
			<hr>
			<span>&copy; Olivier Pouchoy 2019</span>
		</footer>
		
	</div><!-- End Container -->
	</article>
	
	
	
	
<script type="text/javascript">

var el = document.querySelectorAll('nav ul a');
var parralax = document.querySelector('header .h-background');
var middle = document.querySelector('header .middle');



console.log(parralax);
console.log("==========");



window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    
    for (var i = 0; i < el.length;i++){
    	console.log(scroll);
	    if (scroll > 500){
	        el[i].style.webkitTextStroke = "1px #000";
	    }
	    else{ 
	        el[i].style.webkitTextStroke = "1px #fff";
	    }
	}
    
    if (scroll < 500){
	    var parralaxE =  scroll/2;
	    var parralaxO= - (scroll/2)
	    middle.style.top =  (parralaxO/2) + "px";
	    middle.style.bottom = parralaxE + "px";
    }
    
    if(scroll> 200 ) {
    	parralax.style.backgroundSize =(parralaxE*window.innerWidth)+"px"; 
    }



});

</script>
	
</body>
</html>


